.App {
  text-align: center;
  background-color: #282c34;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.SidePanel {
  background-color: #2C2C2C;
  max-width: 30vw;
  min-width: 30vw;
  min-height: 100vh;
  float: right;
}

.Geochart {
  max-width: 60vw;
  float: left;
}

